// 主题色
$themeColor: #003abd;
$xtxColor: #409eff;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;
$colorText: #333;



$vtwhite: #ffffff;
$vtwhitesoft: #f8f8f8;
$vtwhitemute: #f2f2f2;