@font-face {
  font-family: "iconfont"; /* Project id 4405320 */
  src: url('iconfont.woff2?t=1726224611625') format('woff2'),
       url('iconfont.woff?t=1726224611625') format('woff'),
       url('iconfont.ttf?t=1726224611625') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duoyuyan:before {
  content: "\e654";
}

.icon-you:before {
  content: "\e63b";
}

.icon-bofangzhong:before {
  content: "\e617";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-zanting:before {
  content: "\e62c";
}

.icon-shijian:before {
  content: "\e6da";
}

.icon-dianhua:before {
  content: "\e671";
}

.icon-bangzhushouce:before {
  content: "\e614";
}

.icon-qianzhengicon:before {
  content: "\e629";
}

.icon-ruanjiankaifabao:before {
  content: "\ec2e";
}

.icon-chanpinshouce:before {
  content: "\e602";
}

.icon-dtuzhi:before {
  content: "\e62a";
}

.icon-dtuzhi1:before {
  content: "\e62b";
}

.icon-shiyongshuomingshu:before {
  content: "\e6f7";
}

.icon-search:before {
  content: "\e67d";
}

.icon-chanpinshuoming:before {
  content: "\e78c";
}

.icon-ruanjian:before {
  content: "\e689";
}

.icon-a-2Dtuzhi:before {
  content: "\e64a";
}

.icon-a-shu1:before {
  content: "\e79c";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-xihuan:before {
  content: "\e61e";
}

.icon-gengduo:before {
  content: "\e61f";
}

.icon-fanhui:before {
  content: "\e620";
}

.icon-guanbi:before {
  content: "\e621";
}

.icon-fenxiang:before {
  content: "\e622";
}

.icon-shangchuantupian:before {
  content: "\e623";
}

.icon-dingwei:before {
  content: "\e624";
}

.icon-a-fenxiang2:before {
  content: "\e625";
}

.icon-baohuhaoma:before {
  content: "\e626";
}

.icon-a-xiala2:before {
  content: "\e627";
}

.icon-tishi:before {
  content: "\e628";
}

.icon-shiyongshuomingshu1:before {
  content: "\e851";
}

.icon-xinxi:before {
  content: "\e603";
}

.icon-tishifill:before {
  content: "\e72a";
}

.icon-tishi1:before {
  content: "\e72b";
}

.icon-icon:before {
  content: "\e69a";
}

.icon-tishi11:before {
  content: "\e648";
}

.icon-xingneng:before {
  content: "\e653";
}

.icon-hezuoguanxi:before {
  content: "\e8a9";
}

.icon-shujujicheng:before {
  content: "\e742";
}

.icon-chengbenguanli:before {
  content: "\e60c";
}

.icon-gongyezujian-zhishideng:before {
  content: "\eb96";
}

.icon-zhuanyedui:before {
  content: "\e651";
}

.icon-linian:before {
  content: "\e60f";
}

.icon-xingneng1:before {
  content: "\e607";
}

.icon-kejichuangxin:before {
  content: "\e8b7";
}

.icon-tishi2:before {
  content: "\e635";
}

.icon-tishi3:before {
  content: "\e659";
}

.icon-money-rmb-fill:before {
  content: "\e831";
}

.icon-error-fill:before {
  content: "\e839";
}

.icon-play-fill:before {
  content: "\e83e";
}

.icon-view-fill:before {
  content: "\e847";
}

.icon-AGV_:before {
  content: "\e601";
}

.icon-scooter_traffic_line:before {
  content: "\e7f6";
}

.icon-zhinengzhizao:before {
  content: "\e6ae";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-qqkongjian:before {
  content: "\e697";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weibo:before {
  content: "\e62f";
}

.icon-shengchanjiagong:before {
  content: "\e605";
}

.icon-jiqiren:before {
  content: "\e60d";
}

.icon-fangzhi:before {
  content: "\e657";
}

.icon-cailiaoyunengyuan:before {
  content: "\e612";
}

.icon-baozhuang:before {
  content: "\e633";
}

.icon-tubiao_-:before {
  content: "\e6ff";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-kuaishou:before {
  content: "\e8dc";
}

.icon-down:before {
  content: "\e7eb";
}

